*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    /* font-family: sans-serif; */
    font-family: Noto Kufi Arabic,Helvetica,Arial,sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #2386C8;
    height: 68px;
   
}
.navbar ul{
    display: flex;
    padding: 20px;
    margin-left: auto;
}

.navbar ul li{
    list-style: none;
    margin-right: 45px;
    font-size: 14px;
    
}
.navbar ul li:hover{
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    transition: 1s;
}
.logo {
    display: flex;
    /* margin-left: auto; */
}
.munu{
    margin-right: 30px;
}
.logo img{
    margin-right: 50px;
}
.conect{
    display: flex;
    margin-left: 35px;
}
.contener1{
    display: flex;
    height: 68px;
}
.conect img {
    margin-right: 40px;
    align-items: center;
   
}
.conect .me{ width: 29px;}
.conect .grs{ width: 29px;}

.per{width: 42px; margin-left: 30px;}

.logo2{
    display: none;
}
.main{
    display: flex;
    margin-top: 100px;
}
.main img{
    flex: 1;
}
.main h1{
    margin-top: 70px;
    color: #2386C8;
    flex: 2;
}
/* extra small  */
@media (min-width : 320px) and (max-width: 767px){
    .navbar ul{
        display: flex;
        transition: 1s; 
        display: none;
    } 
    /* .ser{
        padding-right: 10px;
    } */
    .logo1{
        display: none;
    }
    .logo2{
        display: block;
    }

    .logo {
        display: flex;
        margin-left: auto;
    }
}


/* small screen */
 @media (min-width : 768px) and (max-width: 991px){
    .navbar ul{
        display: flex;
        transition: 1s; 
        display: none;
    } 
    .logo {
        display: flex;
        margin-left: auto;
    }
  

}

/* medium screen  */
 @media (min-width : 992px) and (max-width: 1199px){
    .navbar ul{
        display: flex;
        padding: 20px;
        margin-left:auto;
        transition: 1s;
    }
    .logo2{
        display: none;
    }
}

/* large screen */
 @media (min-width : 1200px) and (max-width: infinte){
    .navbar ul{
        display: flex;
        padding: 20px;
        margin-left: auto;
        transition: 1s;
    } 
    .logo2{
        display: none;
    }
} 
